<div id="<%= dom_id budget %>">
  <div>
    <strong>Budget category:</strong>
    <%= budget.category %>
  </div>

  <div>
    <strong>Maximum spend:</strong>
    <%= budget.maximum_spend %>
  </div>

  <div>
    <strong>Theme:</strong>
    <%= budget.theme %>
  </div>

  <div>
    <strong>User:</strong>
    <%= budget.user_id %>
  </div>

</div>
