<div id="<%= dom_id pot %>">
  <div>
    <strong>Pot name:</strong>
    <%= pot.pot_name %>
  </div>

  <div>
    <strong>Target:</strong>
    <%= pot.target %>
  </div>

  <div>
    <strong>Theme:</strong>
    <%= pot.theme %>
  </div>

  <div>
    <strong>User:</strong>
    <%= pot.user_id %>
  </div>

</div>
