<div id="<%= dom_id recurring_bill %>">
  <div>
    <strong>Bill title:</strong>
    <%= recurring_bill.bill_title %>
  </div>

  <div>
    <strong>Amount:</strong>
    <%= recurring_bill.amount %>
  </div>

  <div>
    <strong>Frequency type:</strong>
    <%= recurring_bill.frequency_type %>
  </div>

  <div>
    <strong>Day of month:</strong>
    <%= recurring_bill.day_of_month %>
  </div>

  <div>
    <strong>Day of week:</strong>
    <%= recurring_bill.day_of_week %>
  </div>

  <div>
    <strong>Next due date:</strong>
    <%= recurring_bill.next_due_date %>
  </div>

  <div>
    <strong>Is overdue:</strong>
    <%= recurring_bill.is_overdue %>
  </div>

  <div>
    <strong>Color:</strong>
    <%= recurring_bill.color %>
  </div>

  <div>
    <strong>User:</strong>
    <%= recurring_bill.user_id %>
  </div>

</div>
