<div id="<%= dom_id transaction %>">
  <div>
    <strong>Date:</strong>
    <%= transaction.date %>
  </div>

  <div>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= transaction.category %>
  </div>

  <div>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </div>

</div>
