<!-- app/views/layouts/_navigation.html.erb -->

<!-- Desktop Sidebar (hidden on tablet/mobile) -->
<aside id="sidebar" class="hidden lg:flex lg:flex-col bg-gray-900 text-white h-screen fixed left-0 top-0 transition-all duration-300 lg:w-1/5">
  <!-- Logo/Brand -->
  <div class="p-6 border-b border-gray-800" id="sidebar-logo-full">
    <svg width="122" height="22" viewBox="0 0 122 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.192 21.44H2.176V10.24H0V5.312H2.304C2.944 2.272 5.92 0 11.2 0H12.48V4.288H10.24C8.576 4.288 7.776 4.448 7.808 5.312H12.48V10.24H8.192V21.44Z" fill="white"/>
      <path d="M20.1047 3.84H14.0887V0H20.1047V3.84ZM20.1047 21.44H14.0887V5.312H20.1047V21.44Z" fill="white"/>
      <path d="M28.3622 21.44H22.3462V5.312H27.9783V10.208H28.2983C28.6502 7.52 30.4103 4.992 34.7303 4.992C39.0823 4.992 41.1302 7.616 41.1302 11.104V21.44H35.1143V13.312C35.1143 11.072 34.2822 10.368 31.6582 10.368C29.0022 10.368 28.3622 11.04 28.3622 13.12V21.44Z" fill="white"/>
      <path d="M48.4447 21.76C44.7967 21.76 42.7487 20.096 42.7487 17.344C42.7487 15.072 44.3167 13.44 47.9647 13.088L54.5247 12.448V12.128C54.5247 10.496 53.8208 10.24 51.6768 10.24C49.6927 10.24 49.0848 10.624 49.0848 11.968V12.096H43.0687V12.032C43.0687 7.744 46.6527 4.992 52.1247 4.992C57.7567 4.992 60.4767 7.744 60.4767 12.256V21.44H54.8447V18.048H54.5247C53.9167 20.32 51.9327 21.76 48.4447 21.76ZM48.7967 16.96C48.7967 17.472 49.3087 17.568 50.2367 17.568C53.1487 17.568 54.3327 17.216 54.4927 15.776L49.5648 16.352C49.0208 16.416 48.7967 16.608 48.7967 16.96Z" fill="white"/>
      <path d="M68.596 21.44H62.58V5.312H68.212V10.208H68.532C68.884 7.52 70.644 4.992 74.964 4.992C79.316 4.992 81.364 7.616 81.364 11.104V21.44H75.348V13.312C75.348 11.072 74.516 10.368 71.892 10.368C69.236 10.368 68.596 11.04 68.596 13.12V21.44Z" fill="white"/>
      <path d="M92.5185 21.76C86.7905 21.76 83.1425 18.592 83.1425 13.376C83.1425 8.128 86.7905 4.992 92.5185 4.992C98.0225 4.992 101.542 7.808 101.542 12.128V12.64H95.5585V12.384C95.5585 10.72 94.3425 10.368 92.3905 10.368C90.1825 10.368 89.1265 10.848 89.1265 13.376C89.1265 15.872 90.1825 16.352 92.3905 16.352C94.3425 16.352 95.5585 16.032 95.5585 14.368V14.08H101.542V14.624C101.542 18.912 98.0225 21.76 92.5185 21.76Z" fill="white"/>
      <path d="M112.462 21.76C106.99 21.76 103.15 19.424 103.15 13.376C103.15 8.128 106.958 4.992 112.334 4.992C117.902 4.992 121.454 7.776 121.454 12.96C121.454 13.504 121.422 13.92 121.358 14.496H108.718C108.814 16.448 109.678 16.992 112.238 16.992C114.67 16.992 115.31 16.576 115.31 15.616V15.264H121.326V15.648C121.326 19.232 117.902 21.76 112.462 21.76ZM112.206 9.6C109.998 9.6 109.07 10.08 108.814 11.456H115.63C115.406 10.08 114.446 9.6 112.206 9.6Z" fill="white"/>
    </svg>
  </div>

  <div class="p-6 border-b border-gray-800 hidden" id="sidebar-logo-min">
    <svg width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.192 21.44H2.176V10.24H0V5.312H2.304C2.944 2.272 5.92 0 11.2 0H12.48V4.288H10.24C8.576 4.288 7.776 4.448 7.808 5.312H12.48V10.24H8.192V21.44Z" fill="white"/>
    </svg>
  </div>

  <!-- Navigation Links -->
  <nav class="flex-1 pr-4 py-6 space-y-2">
    <%= link_to root_path, class: "flex items-center gap-3 px-4 py-3 rounded-r-lg relative #{current_page?(root_path) ? 'bg-white text-gray-900' : 'text-gray-300 hover:bg-gray-800'}" do %>
      <% if current_page?(root_path) %>
        <span class="absolute left-0 top-0 bottom-0 w-1 bg-teal-700"></span>
      <% end %>
      <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 ml-2">
        <path d="M18 8.58122L18 17.2484C18 17.6462 17.842 18.0278 17.5607 18.3091C17.2794 18.5904 16.8978 18.7484 16.5 18.7484H12.75C12.3522 18.7484 11.9706 18.5904 11.6893 18.3091C11.408 18.0278 11.25 17.6462 11.25 17.2484L11.25 13.4984C11.25 13.2995 11.171 13.1087 11.0303 12.9681C10.8897 12.8274 10.6989 12.7484 10.5 12.7484H7.5C7.30109 12.7484 7.11032 12.8274 6.96967 12.9681C6.82902 13.1087 6.75 13.2995 6.75 13.4984L6.75 17.2484C6.75 17.6462 6.59196 18.0278 6.31066 18.3091C6.02936 18.5904 5.64782 18.7484 5.25 18.7484H1.5C1.10218 18.7484 0.720644 18.5904 0.43934 18.3091C0.158035 18.0278 1.73323e-08 17.6462 1.73323e-08 17.2484L1.73323e-08 8.58122C-3.15402e-05 8.37362 0.0430305 8.16827 0.126461 7.97817C0.209891 7.78807 0.331873 7.61736 0.484687 7.47684L7.98469 0.400593L7.995 0.390281C8.27113 0.139155 8.63097 0 9.00422 0C9.37747 0 9.7373 0.139155 10.0134 0.390281C10.0166 0.393949 10.0201 0.397394 10.0237 0.400593L17.5237 7.47684C17.675 7.6181 17.7954 7.78915 17.8774 7.97921C17.9594 8.16927 18.0011 8.37424 18 8.58122Z" fill="<%= current_page?(root_path) ? '#277C78' : '#B3B3B3' %>"/>
      </svg>
      <span class="font-medium sidebar-text whitespace-nowrap">Overview</span>
    <% end %>

    <%= link_to root_path, class: "flex items-center gap-3 px-4 py-3 rounded-r-lg relative #{current_page?(root_path) ? 'bg-white text-gray-900' : 'text-gray-300 hover:bg-gray-800'}" do %>
      <% if current_page?(root_path) %>
        <span class="absolute left-0 top-0 bottom-0 w-1 bg-teal-700"></span>
      <% end %>
      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 ml-2">
        <path d="M7.4434 12.4637C7.50025 12.6007 7.51519 12.7516 7.48632 12.8971C7.45745 13.0426 7.38607 13.1763 7.28122 13.2812L4.28122 16.2812C4.21156 16.3509 4.12884 16.4063 4.0378 16.444C3.94675 16.4818 3.84915 16.5012 3.75059 16.5012C3.65203 16.5012 3.55443 16.4818 3.46339 16.444C3.37234 16.4063 3.28962 16.3509 3.21997 16.2812L0.219966 13.2812C0.114957 13.1763 0.0434315 13.0426 0.0144437 12.8971C-0.0145441 12.7515 0.00030937 12.6006 0.0571237 12.4635C0.113938 12.3264 0.210159 12.2092 0.333604 12.1268C0.457049 12.0444 0.602169 12.0005 0.750591 12.0006H3.00059L3.00059 0.75059C3.00059 0.551678 3.07961 0.360912 3.22026 0.22026C3.36091 0.0796079 3.55168 0.000590086 3.75059 0.000590086C3.9495 0.000590086 4.14027 0.0796079 4.28092 0.22026C4.42157 0.360912 4.50059 0.551678 4.50059 0.75059L4.50059 12.0006L6.75059 12.0006C6.89893 12.0006 7.04392 12.0446 7.16724 12.1271C7.29056 12.2095 7.38667 12.3267 7.4434 12.4637ZM16.2812 3.21996L13.2812 0.219965C13.2116 0.150233 13.1288 0.0949136 13.0378 0.0571704C12.9467 0.0194272 12.8492 0 12.7506 0C12.652 0 12.5544 0.0194272 12.4634 0.0571704C12.3723 0.0949136 12.2896 0.150233 12.22 0.219965L9.21997 3.21996C9.11496 3.32486 9.04343 3.45855 9.01444 3.60411C8.98546 3.74967 9.00031 3.90057 9.05713 4.03768C9.11394 4.1748 9.21016 4.29198 9.3336 4.37438C9.45705 4.45678 9.60217 4.50071 9.75059 4.50059H12.0006L12.0006 15.7506C12.0006 15.9495 12.0796 16.1403 12.2203 16.2809C12.3609 16.4216 12.5517 16.5006 12.7506 16.5006C12.9495 16.5006 13.1403 16.4216 13.2809 16.2809C13.4216 16.1403 13.5006 15.9495 13.5006 15.7506L13.5006 4.50059L15.7506 4.50059C15.899 4.50071 16.0441 4.45678 16.1676 4.37438C16.291 4.29198 16.3872 4.1748 16.4441 4.03768C16.5009 3.90057 16.5157 3.74967 16.4867 3.60411C16.4578 3.45855 16.3862 3.32486 16.2812 3.21996Z" fill="<%= current_page?(root_path) ? '#277C78' : '#B3B3B3' %>"/>
      </svg>
      <span class="font-medium sidebar-text whitespace-nowrap">Transactions</span>
    <% end %>

    <%= link_to budgets_path, class: "flex items-center gap-3 px-4 py-3 rounded-r-lg relative #{current_page?(budgets_path) ? 'bg-white text-gray-900' : 'text-gray-300 hover:bg-gray-800'}" do %>
      <% if current_page?(budgets_path) %>
        <span class="absolute left-0 top-0 bottom-0 w-1 bg-teal-700"></span>
      <% end %>
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 ml-2">
        <path d="M0.00519406 8.58192C0.226669 6.72479 0.986266 4.97293 2.19051 3.54192C2.32375 3.38125 2.48907 3.25015 2.67587 3.15701C2.86268 3.06388 3.06687 3.01076 3.27538 3.00106C3.4839 2.99135 3.69214 3.02527 3.88679 3.10065C4.08144 3.17602 4.25822 3.29119 4.40582 3.4388L6.99988 6.08817C7.24971 6.33742 7.4028 6.66736 7.43182 7.01906C7.46084 7.37077 7.36391 7.72134 7.15832 8.00817C7.00259 8.22909 6.88531 8.47474 6.81144 8.73473C6.78798 8.81145 6.74053 8.87861 6.67607 8.92637C6.61161 8.97412 6.53354 8.99994 6.45332 9.00005L0.378319 9.00005C0.325382 9.00013 0.273027 8.98901 0.224698 8.96741C0.176368 8.94581 0.133159 8.91422 0.0979127 8.87473C0.0626665 8.83523 0.0361822 8.78872 0.0202016 8.73825C0.00422095 8.68779 -0.000893732 8.63451 0.00519406 8.58192ZM10.5652 0.0056713C10.358 -0.0123962 10.1493 0.0128173 9.95241 0.0797106C9.75549 0.146604 9.57463 0.253715 9.42132 0.394243C9.26801 0.53477 9.1456 0.705642 9.06186 0.896009C8.97812 1.08637 8.93487 1.29208 8.93488 1.50005V5.31286C8.93229 5.66665 9.05594 6.00978 9.28362 6.28059C9.5113 6.5514 9.82809 6.73214 10.1771 6.79036C10.8342 6.89877 11.4366 7.22277 11.8893 7.71129C12.3419 8.19982 12.6192 8.82509 12.6773 9.48856C12.7354 10.152 12.5711 10.816 12.2103 11.3758C11.8494 11.9356 11.3125 12.3594 10.6843 12.5804C10.6111 12.6072 10.548 12.6559 10.5034 12.7197C10.4588 12.7836 10.4349 12.8596 10.4349 12.9375L10.4349 19.0529C10.4345 19.106 10.4455 19.1585 10.4669 19.2071C10.4884 19.2556 10.52 19.2991 10.5595 19.3345C10.599 19.37 10.6456 19.3966 10.6962 19.4127C10.7468 19.4288 10.8003 19.434 10.853 19.4279C13.1929 19.139 15.3497 18.0147 16.9265 16.262C18.5034 14.5093 19.3941 12.2461 19.4349 9.8888C19.5052 4.79911 15.6089 0.457546 10.5652 0.0056713ZM8.67707 12.5775C8.25784 12.428 7.87714 12.1871 7.56256 11.8722C7.24799 11.5573 7.00743 11.1763 6.85832 10.7569C6.83275 10.6825 6.78477 10.6179 6.72098 10.5719C6.65719 10.5259 6.58071 10.5008 6.50207 10.5L0.377381 10.5C0.324376 10.4997 0.271901 10.5106 0.223418 10.532C0.174934 10.5535 0.131544 10.5849 0.096109 10.6244C0.0606738 10.6638 0.0339986 10.7103 0.0178426 10.7607C0.00168672 10.8112 -0.00358284 10.8646 0.00238149 10.9172C0.264988 13.0842 1.24647 15.1006 2.78995 16.644C4.33343 18.1875 6.3498 19.169 8.51676 19.4316C8.56943 19.4376 8.62276 19.4323 8.67325 19.4161C8.72373 19.4 8.77022 19.3733 8.80964 19.3379C8.84906 19.3024 8.88052 19.2591 8.90195 19.2106C8.92338 19.1621 8.93428 19.1096 8.93394 19.0566L8.93394 12.9375C8.93409 12.8582 8.9094 12.7809 8.86333 12.7163C8.81726 12.6517 8.75212 12.6032 8.67707 12.5775Z" fill="<%= current_page?(budgets_path) ? '#277C78' : '#B3B3B3' %>"/>
      </svg>
      <span class="font-medium sidebar-text whitespace-nowrap">Budgets</span>
    <% end %>

    <%= link_to root_path, class: "flex items-center gap-3 px-4 py-3 rounded-r-lg relative #{current_page?(root_path) ? 'bg-white text-gray-900' : 'text-gray-300 hover:bg-gray-800'}" do %>
      <% if current_page?(root_path) %>
        <span class="absolute left-0 top-0 bottom-0 w-1 bg-teal-700"></span>
      <% end %>
      <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 ml-2">
        <path d="M13.5 3.07594V1.5C13.5 1.10218 13.342 0.720644 13.0607 0.43934C12.7794 0.158035 12.3978 0 12 0L4.5 0C4.10218 0 3.72064 0.158035 3.43934 0.43934C3.15804 0.720644 3 1.10218 3 1.5V3.07594C2.15354 3.24962 1.39289 3.70995 0.846371 4.37926C0.299854 5.04857 0.000920065 5.8859 0 6.75L0 17.25C0 18.2446 0.395088 19.1984 1.09835 19.9016C1.80161 20.6049 2.75544 21 3.75 21L12.75 21C13.7446 21 14.6984 20.6049 15.4017 19.9016C16.1049 19.1984 16.5 18.2446 16.5 17.25L16.5 6.75C16.4991 5.8859 16.2001 5.04857 15.6536 4.37926C15.1071 3.70995 14.3465 3.24962 13.5 3.07594ZM7.5 1.5L9 1.5V3H7.5L7.5 1.5ZM4.5 1.5L6 1.5L6 3H4.5L4.5 1.5ZM9 15.75V16.5C9 16.6989 8.92098 16.8897 8.78033 17.0303C8.63968 17.171 8.44891 17.25 8.25 17.25C8.05109 17.25 7.86032 17.171 7.71967 17.0303C7.57902 16.8897 7.5 16.6989 7.5 16.5V15.75H6.75C6.55109 15.75 6.36032 15.671 6.21967 15.5303C6.07902 15.3897 6 15.1989 6 15C6 14.8011 6.07902 14.6103 6.21967 14.4697C6.36032 14.329 6.55109 14.25 6.75 14.25H9C9.19891 14.25 9.38968 14.171 9.53033 14.0303C9.67098 13.8897 9.75 13.6989 9.75 13.5C9.75 13.3011 9.67098 13.1103 9.53033 12.9697C9.38968 12.829 9.19891 12.75 9 12.75H7.5C6.90326 12.75 6.33097 12.5129 5.90901 12.091C5.48705 11.669 5.25 11.0967 5.25 10.5C5.25 9.90326 5.48705 9.33097 5.90901 8.90901C6.33097 8.48705 6.90326 8.25 7.5 8.25V7.5C7.5 7.30109 7.57902 7.11032 7.71967 6.96967C7.86032 6.82902 8.05109 6.75 8.25 6.75C8.44891 6.75 8.63968 6.82902 8.78033 6.96967C8.92098 7.11032 9 7.30109 9 7.5V8.25H9.75C9.94891 8.25 10.1397 8.32902 10.2803 8.46967C10.421 8.61032 10.5 8.80109 10.5 9C10.5 9.19891 10.421 9.38968 10.2803 9.53033C10.1397 9.67098 9.94891 9.75 9.75 9.75H7.5C7.30109 9.75 7.11032 9.82902 6.96967 9.96967C6.82902 10.1103 6.75 10.3011 6.75 10.5C6.75 10.6989 6.82902 10.8897 6.96967 11.0303C7.11032 11.171 7.30109 11.25 7.5 11.25H9C9.59674 11.25 10.169 11.4871 10.591 11.909C11.0129 12.331 11.25 12.9033 11.25 13.5C11.25 14.0967 11.0129 14.669 10.591 15.091C10.169 15.5129 9.59674 15.75 9 15.75ZM12 3H10.5V1.5L12 1.5V3Z" fill="<%= current_page?(root_path) ? '#277C78' : '#B3B3B3' %>"/>
      </svg>
      <span class="font-medium sidebar-text whitespace-nowrap">Pots</span>
    <% end %>

    <%= link_to root_path, class: "flex items-center gap-3 px-4 py-3 rounded-r-lg relative #{current_page?(root_path) ? 'bg-white text-gray-900' : 'text-gray-300 hover:bg-gray-800'}" do %>
      <% if current_page?(root_path) %>
        <span class="absolute left-0 top-0 bottom-0 w-1 bg-teal-700"></span>
      <% end %>
      <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 ml-2">
        <path d="M18 0L1.5 0C1.10218 0 0.720644 0.158035 0.43934 0.43934C0.158035 0.720644 0 1.10218 0 1.5L0 15.75C6.82428e-05 15.8778 0.0328074 16.0035 0.0951092 16.1151C0.157411 16.2268 0.247208 16.3206 0.355974 16.3878C0.46474 16.4549 0.588867 16.4932 0.716569 16.4989C0.844271 16.5046 0.97131 16.4775 1.08563 16.4203L3.75 15.0881L6.41437 16.4203C6.51857 16.4725 6.63348 16.4996 6.75 16.4996C6.86652 16.4996 6.98143 16.4725 7.08563 16.4203L9.75 15.0881L12.4144 16.4203C12.5186 16.4725 12.6335 16.4996 12.75 16.4996C12.8665 16.4996 12.9814 16.4725 13.0856 16.4203L15.75 15.0881L18.4144 16.4203C18.5287 16.4775 18.6557 16.5046 18.7834 16.4989C18.9111 16.4932 19.0353 16.4549 19.144 16.3878C19.2528 16.3206 19.3426 16.2268 19.4049 16.1151C19.4672 16.0035 19.4999 15.8778 19.5 15.75L19.5 1.5C19.5 1.10218 19.342 0.720644 19.0607 0.43934C18.7794 0.158035 18.3978 0 18 0ZM14.25 9.75L5.25 9.75C5.05109 9.75 4.86032 9.67098 4.71967 9.53033C4.57902 9.38968 4.5 9.19891 4.5 9C4.5 8.80109 4.57902 8.61032 4.71967 8.46967C4.86032 8.32902 5.05109 8.25 5.25 8.25L14.25 8.25C14.4489 8.25 14.6397 8.32902 14.7803 8.46967C14.921 8.61032 15 8.80109 15 9C15 9.19891 14.921 9.38968 14.7803 9.53033C14.6397 9.67098 14.4489 9.75 14.25 9.75ZM14.25 6.75L5.25 6.75C5.05109 6.75 4.86032 6.67098 4.71967 6.53033C4.57902 6.38968 4.5 6.19891 4.5 6C4.5 5.80109 4.57902 5.61032 4.71967 5.46967C4.86032 5.32902 5.05109 5.25 5.25 5.25L14.25 5.25C14.4489 5.25 14.6397 5.32902 14.7803 5.46967C14.921 5.61032 15 5.80109 15 6C15 6.19891 14.921 6.38968 14.7803 6.53033C14.6397 6.67098 14.4489 6.75 14.25 6.75Z" fill="<%= current_page?(root_path) ? '#277C78' : '#B3B3B3' %>"/>
      </svg>
      <span class="font-medium sidebar-text whitespace-nowrap">Recurring Bills</span>
    <% end %>
  </nav>

  <!-- Minimize Button -->
  <div class="p-4 border-t border-gray-800">
    <button id="minimizeBtn" class="flex items-center gap-3 px-4 py-3 text-gray-300 hover:bg-gray-800 rounded-lg w-full transition-all">
      <svg id="minimizeIcon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 transition-transform">
        <path d="M13.5006 5.25059L13.5006 14.2506C13.5006 14.4495 13.4216 14.6403 13.2809 14.7809C13.1403 14.9216 12.9495 15.0006 12.7506 15.0006H10.5006L10.5006 18.7506C10.5007 18.899 10.4568 19.0441 10.3744 19.1676C10.292 19.291 10.1748 19.3872 10.0377 19.4441C9.90057 19.5009 9.74967 19.5157 9.60411 19.4867C9.45855 19.4578 9.32486 19.3862 9.21996 19.2812L0.219965 10.2812C0.150233 10.2116 0.0949133 10.1288 0.0571701 10.0378C0.0194269 9.94675 0 9.84915 0 9.75059C0 9.65203 0.0194269 9.55444 0.0571701 9.46339C0.0949133 9.37234 0.150233 9.28962 0.219965 9.21997L9.21996 0.219966C9.32486 0.114957 9.45855 0.0434315 9.60411 0.0144437C9.74967 -0.0145441 9.90057 0.000309371 10.0377 0.0571237C10.1748 0.113938 10.292 0.210159 10.3744 0.333604C10.4568 0.45705 10.5007 0.602169 10.5006 0.750591V4.50059H12.7506C12.9495 4.50059 13.1403 4.57961 13.2809 4.72026C13.4216 4.86091 13.5006 5.05168 13.5006 5.25059ZM15.7506 4.50059C15.5517 4.50059 15.3609 4.57961 15.2203 4.72026C15.0796 4.86091 15.0006 5.05168 15.0006 5.25059L15.0006 14.2506C15.0006 14.4495 15.0796 14.6403 15.2203 14.7809C15.3609 14.9216 15.5517 15.0006 15.7506 15.0006C15.9495 15.0006 16.1403 14.9216 16.2809 14.7809C16.4216 14.6403 16.5006 14.4495 16.5006 14.2506L16.5006 5.25059C16.5006 5.05168 16.4216 4.86091 16.2809 4.72026C16.1403 4.57961 15.9495 4.50059 15.7506 4.50059ZM18.7506 4.50059C18.5517 4.50059 18.3609 4.57961 18.2203 4.72026C18.0796 4.86091 18.0006 5.05168 18.0006 5.25059L18.0006 14.2506C18.0006 14.4495 18.0796 14.6403 18.2203 14.7809C18.3609 14.9216 18.5517 15.0006 18.7506 15.0006C18.9495 15.0006 19.1403 14.9216 19.2809 14.7809C19.4216 14.6403 19.5006 14.4495 19.5006 14.2506L19.5006 5.25059C19.5006 5.05168 19.4216 4.86091 19.2809 4.72026C19.1403 4.57961 18.9495 4.50059 18.7506 4.50059Z" fill="#B3B3B3"/>
      </svg>

      <span class="font-medium sidebar-text whitespace-nowrap">Minimize Menu</span>
    </button>
  </div>
</aside>

<!-- Tablet/Mobile Bottom Toolbar (hidden on desktop) -->
<nav class="lg:hidden fixed bottom-0 left-0 right-0 bg-gray-900 border-t border-gray-800 z-50">
  <div class="flex items-center justify-around px-2 pt-3 lg:py-3">
    <%= link_to root_path, class: nav_item(root_path) do %>
      <% if current_page?(root_path) %>
        <span class="absolute bottom-0 left-0 right-0 h-1 bg-teal-700"></span>
      <% end %>
      <svg class="h-6 w-auto" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 8.58122L18 17.2484C18 17.6462 17.842 18.0278 17.5607 18.3091C17.2794 18.5904 16.8978 18.7484 16.5 18.7484H12.75C12.3522 18.7484 11.9706 18.5904 11.6893 18.3091C11.408 18.0278 11.25 17.6462 11.25 17.2484L11.25 13.4984C11.25 13.2995 11.171 13.1087 11.0303 12.9681C10.8897 12.8274 10.6989 12.7484 10.5 12.7484H7.5C7.30109 12.7484 7.11032 12.8274 6.96967 12.9681C6.82902 13.1087 6.75 13.2995 6.75 13.4984L6.75 17.2484C6.75 17.6462 6.59196 18.0278 6.31066 18.3091C6.02936 18.5904 5.64782 18.7484 5.25 18.7484H1.5C1.10218 18.7484 0.720644 18.5904 0.43934 18.3091C0.158035 18.0278 1.73323e-08 17.6462 1.73323e-08 17.2484L1.73323e-08 8.58122C-3.15402e-05 8.37362 0.0430305 8.16827 0.126461 7.97817C0.209891 7.78807 0.331873 7.61736 0.484687 7.47684L7.98469 0.400593L7.995 0.390281C8.27113 0.139155 8.63097 0 9.00422 0C9.37747 0 9.7373 0.139155 10.0134 0.390281C10.0166 0.393949 10.0201 0.397394 10.0237 0.400593L17.5237 7.47684C17.675 7.6181 17.7954 7.78915 17.8774 7.97921C17.9594 8.16927 18.0011 8.37424 18 8.58122Z" fill="<%= current_page?(root_path) ? '#277C78' : '#B3B3B3' %>"/>
      </svg>
      <span class="text-xs font-medium hidden sm:block">Overview</span>
    <% end %>

    <%= link_to root_path, class: nav_item(root_path) do %>
      <% if current_page?(root_path) %>
        <span class="absolute bottom-0 left-0 right-0 h-1 bg-teal-700"></span>
      <% end %>
      <svg class="h-6 w-auto" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.4434 12.4637C7.50025 12.6007 7.51519 12.7516 7.48632 12.8971C7.45745 13.0426 7.38607 13.1763 7.28122 13.2812L4.28122 16.2812C4.21156 16.3509 4.12884 16.4063 4.0378 16.444C3.94675 16.4818 3.84915 16.5012 3.75059 16.5012C3.65203 16.5012 3.55443 16.4818 3.46339 16.444C3.37234 16.4063 3.28962 16.3509 3.21997 16.2812L0.219966 13.2812C0.114957 13.1763 0.0434315 13.0426 0.0144437 12.8971C-0.0145441 12.7515 0.00030937 12.6006 0.0571237 12.4635C0.113938 12.3264 0.210159 12.2092 0.333604 12.1268C0.457049 12.0444 0.602169 12.0005 0.750591 12.0006H3.00059L3.00059 0.75059C3.00059 0.551678 3.07961 0.360912 3.22026 0.22026C3.36091 0.0796079 3.55168 0.000590086 3.75059 0.000590086C3.9495 0.000590086 4.14027 0.0796079 4.28092 0.22026C4.42157 0.360912 4.50059 0.551678 4.50059 0.75059L4.50059 12.0006L6.75059 12.0006C6.89893 12.0006 7.04392 12.0446 7.16724 12.1271C7.29056 12.2095 7.38667 12.3267 7.4434 12.4637ZM16.2812 3.21996L13.2812 0.219965C13.2116 0.150233 13.1288 0.0949136 13.0378 0.0571704C12.9467 0.0194272 12.8492 0 12.7506 0C12.652 0 12.5544 0.0194272 12.4634 0.0571704C12.3723 0.0949136 12.2896 0.150233 12.22 0.219965L9.21997 3.21996C9.11496 3.32486 9.04343 3.45855 9.01444 3.60411C8.98546 3.74967 9.00031 3.90057 9.05713 4.03768C9.11394 4.1748 9.21016 4.29198 9.3336 4.37438C9.45705 4.45678 9.60217 4.50071 9.75059 4.50059H12.0006L12.0006 15.7506C12.0006 15.9495 12.0796 16.1403 12.2203 16.2809C12.3609 16.4216 12.5517 16.5006 12.7506 16.5006C12.9495 16.5006 13.1403 16.4216 13.2809 16.2809C13.4216 16.1403 13.5006 15.9495 13.5006 15.7506L13.5006 4.50059L15.7506 4.50059C15.899 4.50071 16.0441 4.45678 16.1676 4.37438C16.291 4.29198 16.3872 4.1748 16.4441 4.03768C16.5009 3.90057 16.5157 3.74967 16.4867 3.60411C16.4578 3.45855 16.3862 3.32486 16.2812 3.21996Z" fill="<%= current_page?(root_path) ? '#277C78' : '#B3B3B3' %>"/>
      </svg>
      <span class="text-xs font-medium hidden sm:block">Transactions</span>
    <% end %>

    <%= link_to root_path, class: nav_item(budgets_path) do %>
      <% if current_page?(budgets_path) %>
        <span class="absolute bottom-0 left-0 right-0 h-1 bg-teal-700"></span>
      <% end %>
      <svg class="h-6 w-auto" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.00519406 8.58192C0.226669 6.72479 0.986266 4.97293 2.19051 3.54192C2.32375 3.38125 2.48907 3.25015 2.67587 3.15701C2.86268 3.06388 3.06687 3.01076 3.27538 3.00106C3.4839 2.99135 3.69214 3.02527 3.88679 3.10065C4.08144 3.17602 4.25822 3.29119 4.40582 3.4388L6.99988 6.08817C7.24971 6.33742 7.4028 6.66736 7.43182 7.01906C7.46084 7.37077 7.36391 7.72134 7.15832 8.00817C7.00259 8.22909 6.88531 8.47474 6.81144 8.73473C6.78798 8.81145 6.74053 8.87861 6.67607 8.92637C6.61161 8.97412 6.53354 8.99994 6.45332 9.00005L0.378319 9.00005C0.325382 9.00013 0.273027 8.98901 0.224698 8.96741C0.176368 8.94581 0.133159 8.91422 0.0979127 8.87473C0.0626665 8.83523 0.0361822 8.78872 0.0202016 8.73825C0.00422095 8.68779 -0.000893732 8.63451 0.00519406 8.58192ZM10.5652 0.0056713C10.358 -0.0123962 10.1493 0.0128173 9.95241 0.0797106C9.75549 0.146604 9.57463 0.253715 9.42132 0.394243C9.26801 0.53477 9.1456 0.705642 9.06186 0.896009C8.97812 1.08637 8.93487 1.29208 8.93488 1.50005V5.31286C8.93229 5.66665 9.05594 6.00978 9.28362 6.28059C9.5113 6.5514 9.82809 6.73214 10.1771 6.79036C10.8342 6.89877 11.4366 7.22277 11.8893 7.71129C12.3419 8.19982 12.6192 8.82509 12.6773 9.48856C12.7354 10.152 12.5711 10.816 12.2103 11.3758C11.8494 11.9356 11.3125 12.3594 10.6843 12.5804C10.6111 12.6072 10.548 12.6559 10.5034 12.7197C10.4588 12.7836 10.4349 12.8596 10.4349 12.9375L10.4349 19.0529C10.4345 19.106 10.4455 19.1585 10.4669 19.2071C10.4884 19.2556 10.52 19.2991 10.5595 19.3345C10.599 19.37 10.6456 19.3966 10.6962 19.4127C10.7468 19.4288 10.8003 19.434 10.853 19.4279C13.1929 19.139 15.3497 18.0147 16.9265 16.262C18.5034 14.5093 19.3941 12.2461 19.4349 9.8888C19.5052 4.79911 15.6089 0.457546 10.5652 0.0056713ZM8.67707 12.5775C8.25784 12.428 7.87714 12.1871 7.56256 11.8722C7.24799 11.5573 7.00743 11.1763 6.85832 10.7569C6.83275 10.6825 6.78477 10.6179 6.72098 10.5719C6.65719 10.5259 6.58071 10.5008 6.50207 10.5L0.377381 10.5C0.324376 10.4997 0.271901 10.5106 0.223418 10.532C0.174934 10.5535 0.131544 10.5849 0.096109 10.6244C0.0606738 10.6638 0.0339986 10.7103 0.0178426 10.7607C0.00168672 10.8112 -0.00358284 10.8646 0.00238149 10.9172C0.264988 13.0842 1.24647 15.1006 2.78995 16.644C4.33343 18.1875 6.3498 19.169 8.51676 19.4316C8.56943 19.4376 8.62276 19.4323 8.67325 19.4161C8.72373 19.4 8.77022 19.3733 8.80964 19.3379C8.84906 19.3024 8.88052 19.2591 8.90195 19.2106C8.92338 19.1621 8.93428 19.1096 8.93394 19.0566L8.93394 12.9375C8.93409 12.8582 8.9094 12.7809 8.86333 12.7163C8.81726 12.6517 8.75212 12.6032 8.67707 12.5775Z" fill="<%= current_page?(budgets_path) ? '#277C78' : '#B3B3B3' %>"/>
      </svg>
      <span class="text-xs font-medium hidden sm:block">Budgets</span>
    <% end %>

    <%= link_to root_path, class: nav_item(root_path) do %>
      <% if current_page?(root_path) %>
        <span class="absolute bottom-0 left-0 right-0 h-1 bg-teal-700"></span>
      <% end %>
      <svg class="h-6 w-auto" width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.5 3.07594V1.5C13.5 1.10218 13.342 0.720644 13.0607 0.43934C12.7794 0.158035 12.3978 0 12 0L4.5 0C4.10218 0 3.72064 0.158035 3.43934 0.43934C3.15804 0.720644 3 1.10218 3 1.5V3.07594C2.15354 3.24962 1.39289 3.70995 0.846371 4.37926C0.299854 5.04857 0.000920065 5.8859 0 6.75L0 17.25C0 18.2446 0.395088 19.1984 1.09835 19.9016C1.80161 20.6049 2.75544 21 3.75 21L12.75 21C13.7446 21 14.6984 20.6049 15.4017 19.9016C16.1049 19.1984 16.5 18.2446 16.5 17.25L16.5 6.75C16.4991 5.8859 16.2001 5.04857 15.6536 4.37926C15.1071 3.70995 14.3465 3.24962 13.5 3.07594ZM7.5 1.5L9 1.5V3H7.5L7.5 1.5ZM4.5 1.5L6 1.5L6 3H4.5L4.5 1.5ZM9 15.75V16.5C9 16.6989 8.92098 16.8897 8.78033 17.0303C8.63968 17.171 8.44891 17.25 8.25 17.25C8.05109 17.25 7.86032 17.171 7.71967 17.0303C7.57902 16.8897 7.5 16.6989 7.5 16.5V15.75H6.75C6.55109 15.75 6.36032 15.671 6.21967 15.5303C6.07902 15.3897 6 15.1989 6 15C6 14.8011 6.07902 14.6103 6.21967 14.4697C6.36032 14.329 6.55109 14.25 6.75 14.25H9C9.19891 14.25 9.38968 14.171 9.53033 14.0303C9.67098 13.8897 9.75 13.6989 9.75 13.5C9.75 13.3011 9.67098 13.1103 9.53033 12.9697C9.38968 12.829 9.19891 12.75 9 12.75H7.5C6.90326 12.75 6.33097 12.5129 5.90901 12.091C5.48705 11.669 5.25 11.0967 5.25 10.5C5.25 9.90326 5.48705 9.33097 5.90901 8.90901C6.33097 8.48705 6.90326 8.25 7.5 8.25V7.5C7.5 7.30109 7.57902 7.11032 7.71967 6.96967C7.86032 6.82902 8.05109 6.75 8.25 6.75C8.44891 6.75 8.63968 6.82902 8.78033 6.96967C8.92098 7.11032 9 7.30109 9 7.5V8.25H9.75C9.94891 8.25 10.1397 8.32902 10.2803 8.46967C10.421 8.61032 10.5 8.80109 10.5 9C10.5 9.19891 10.421 9.38968 10.2803 9.53033C10.1397 9.67098 9.94891 9.75 9.75 9.75H7.5C7.30109 9.75 7.11032 9.82902 6.96967 9.96967C6.82902 10.1103 6.75 10.3011 6.75 10.5C6.75 10.6989 6.82902 10.8897 6.96967 11.0303C7.11032 11.171 7.30109 11.25 7.5 11.25H9C9.59674 11.25 10.169 11.4871 10.591 11.909C11.0129 12.331 11.25 12.9033 11.25 13.5C11.25 14.0967 11.0129 14.669 10.591 15.091C10.169 15.5129 9.59674 15.75 9 15.75ZM12 3H10.5V1.5L12 1.5V3Z" fill="<%= current_page?(root_path) ? '#277C78' : '#B3B3B3' %>"/>
      </svg>
      <span class="text-xs font-medium hidden sm:block">Pots</span>
    <% end %>

    <%= link_to root_path, class: nav_item(root_path) do %>
      <% if current_page?(root_path) %>
        <span class="absolute bottom-0 left-0 right-0 h-1 bg-teal-700"></span>
      <% end %>
      <svg class="h-6 w-auto" width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 0L1.5 0C1.10218 0 0.720644 0.158035 0.43934 0.43934C0.158035 0.720644 0 1.10218 0 1.5L0 15.75C6.82428e-05 15.8778 0.0328074 16.0035 0.0951092 16.1151C0.157411 16.2268 0.247208 16.3206 0.355974 16.3878C0.46474 16.4549 0.588867 16.4932 0.716569 16.4989C0.844271 16.5046 0.97131 16.4775 1.08563 16.4203L3.75 15.0881L6.41437 16.4203C6.51857 16.4725 6.63348 16.4996 6.75 16.4996C6.86652 16.4996 6.98143 16.4725 7.08563 16.4203L9.75 15.0881L12.4144 16.4203C12.5186 16.4725 12.6335 16.4996 12.75 16.4996C12.8665 16.4996 12.9814 16.4725 13.0856 16.4203L15.75 15.0881L18.4144 16.4203C18.5287 16.4775 18.6557 16.5046 18.7834 16.4989C18.9111 16.4932 19.0353 16.4549 19.144 16.3878C19.2528 16.3206 19.3426 16.2268 19.4049 16.1151C19.4672 16.0035 19.4999 15.8778 19.5 15.75L19.5 1.5C19.5 1.10218 19.342 0.720644 19.0607 0.43934C18.7794 0.158035 18.3978 0 18 0ZM14.25 9.75L5.25 9.75C5.05109 9.75 4.86032 9.67098 4.71967 9.53033C4.57902 9.38968 4.5 9.19891 4.5 9C4.5 8.80109 4.57902 8.61032 4.71967 8.46967C4.86032 8.32902 5.05109 8.25 5.25 8.25L14.25 8.25C14.4489 8.25 14.6397 8.32902 14.7803 8.46967C14.921 8.61032 15 8.80109 15 9C15 9.19891 14.921 9.38968 14.7803 9.53033C14.6397 9.67098 14.4489 9.75 14.25 9.75ZM14.25 6.75L5.25 6.75C5.05109 6.75 4.86032 6.67098 4.71967 6.53033C4.57902 6.38968 4.5 6.19891 4.5 6C4.5 5.80109 4.57902 5.61032 4.71967 5.46967C4.86032 5.32902 5.05109 5.25 5.25 5.25L14.25 5.25C14.4489 5.25 14.6397 5.32902 14.7803 5.46967C14.921 5.61032 15 5.80109 15 6C15 6.19891 14.921 6.38968 14.7803 6.53033C14.6397 6.67098 14.4489 6.75 14.25 6.75Z" fill="<%= current_page?(root_path) ? '#277C78' : '#B3B3B3' %>"/>
      </svg>
      <span class="text-xs font-medium hidden sm:block">Bills</span>
    <% end %>
  </div>
</nav>

<!-- Main Content Wrapper -->
<div id="mainContent" class="lg:ml-[20%] pb-20 lg:pb-0 transition-all duration-300">
  <%= yield %>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const logoMax = document.getElementById('sidebar-logo-full');
        const logoMin = document.getElementById('sidebar-logo-min');
        const sidebar = document.getElementById('sidebar');
        const mainContent = document.getElementById('mainContent');
        const minimizeBtn = document.getElementById('minimizeBtn');
        const minimizeIcon = document.getElementById('minimizeIcon');
        const sidebarTexts = document.querySelectorAll('.sidebar-text');

        let isMinimized = false;

        minimizeBtn.addEventListener('click', function() {
            isMinimized = !isMinimized;

            if (isMinimized) {
                // Minimize sidebar
                logoMax.classList.add('hidden');
                logoMin.classList.remove('hidden');
                sidebar.classList.remove('lg:w-1/5');
                sidebar.classList.add('lg:w-20');
                mainContent.classList.remove('lg:ml-[20%]');
                mainContent.classList.add('lg:ml-20');

                // Hide text elements
                sidebarTexts.forEach(text => {
                    text.classList.add('opacity-0', 'w-0', 'overflow-hidden');
                });

                // Flip the minimize icon
                minimizeIcon.style.transform = 'scaleX(-1)';
            } else {
                // Expand sidebar
                logoMax.classList.remove('hidden');
                logoMin.classList.add('hidden');
                sidebar.classList.remove('lg:w-20');
                sidebar.classList.add('lg:w-1/5');
                mainContent.classList.remove('lg:ml-20');
                mainContent.classList.add('lg:ml-[20%]');

                // Show text elements
                sidebarTexts.forEach(text => {
                    text.classList.remove('opacity-0', 'w-0', 'overflow-hidden');
                });

                // Reset the minimize icon
                minimizeIcon.style.transform = 'scaleX(1)';
            }
        });
    });
</script>