<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Personal Finance App Challenge" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Personal Finance App Challenge">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-50 h-lvh p-4">
  <%= render "shared/toast" %>
  <main class="h-lvh flex flex-col lg:flex-row items-center justify-center lg:justify-start">
    <!-- Banner -->
    <div class="block lg:hidden bg-black text-center text-white p-4 w-full z-50 fixed top-0 left-0">
      <span>Finance</span>
    </div>

    <!-- Left Side - Illustration (Hidden on mobile) -->
    <div class="hidden lg:flex lg:w-1/2 lg:left-0 max-h-[calc(100lvh-2rem)]">
      <%= image_tag("auth/sidebar.svg", alt: "Logo", height: 'calc(100lvh-2rem)', fetchpriority: "high") %>
    </div>

    <!-- Right Side -->
    <div class="card w-96 bg-base-100 shadow-sm md:min-w-[35rem]">
      <div class="card-body">
        <%= yield %>
      </div>
    </div>
  </main>
  </body>
</html>
